@model Moov2.Orchard.Analytics.ViewModels.Admin.ByPageAnalyticsViewModel

@{
    Layout.Title = T("Analytics");
}

@Html.Partial("Shared/_Filters", Model)

<fieldset>
    <table class="items">
        <thead>
            <tr>
                <th scope="col">@T("Page URL")</th>
                <th scope="col">@T("Visits")</th>
            </tr>
        </thead>
        @foreach (var visit in Model.Entries)
            {
            <tr>
                <td>
                    @visit.Url
                </td>
                <td>
                    @visit.Count
                </td>
            </tr>
        }
    </table>
</fieldset>

@Display(Model.Pager)