@model Moov2.Orchard.Analytics.ViewModels.Admin.AnalyticsViewModel<Moov2.Orchard.Analytics.ViewModels.Admin.Dto.RawAnalyticsDto>

@{ 
    Layout.Title = T("Analytics"); 
}

@Html.Partial("Shared/_Filters", Model)

<fieldset>
    <table class="items">
        <thead>
            <tr>
                <th scope="col">@T("User Identifier")</th>
                <th scope="col">@T("Page URL")</th>
                @if (Model.TagsEnabled)
                {
                    <th scope="col">@T("Tags")</th>
                }
                <th scope="col">@T("Visit Date")</th>
            </tr>
        </thead>
        @foreach (var visit in Model.Entries)
        {
            <tr>
                <td>
                    @visit.UserIdentifier
                </td>
                <td>
                    @visit.Url
                </td>
                @if (Model.TagsEnabled) { 
                    <td>
                        @visit.Tags
                    </td>
                }
                <td>
                    @visit.VisitDate
                </td>
            </tr>
        }
    </table>
</fieldset>

@Display(Model.Pager)